body{
    margin: 35px;
    padding: 0;
    font-family: sans-serif;
    background-image: url("https://images.thoughtbot.com/blog+animations/animation-direction.gif");
    background-size: cover;
}
.header{
   text-align: center;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 1000;  
    position: relative;
    top:50px;
}
#up{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    position:relative;
    left:450px;
}
.box{
    display: flex;
    text-align: left;
    font-size: 15px;
    font-style:italic ;
    outline: auto;
    outline-style: auto;
    flex-flow: wrap;
}
h1,h2,h3,h4,h5,h6{
    font-size: 30px;
}

#webdev{
    position: relative;
    left:10px;
}
#ml{
    position: relative;
    left:30px;
}
#appdev{
    position: relative;
    left:90px;
}
#compro{
    position: relative;
    left: 20px;
    bottom: 25px;
}
#opensr{
    position: relative;
    left:300px;
    bottom:45px;
}
#stats{
    position: relative;
    left:600px;
    bottom:75px;
}
h4{
    position: relative;
    top: 20px;
}
h5{
    position: relative;
    top: 30px;
}
h6{
    position: relative;
    top: 40px;
}
@keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }